@mixin light-theme {
  --background: rgb(235, 236, 240);
  --background-secondary: rgb(246, 246, 246);
  --background-secondary-alpha: rgb(246, 246, 246);
  --background-tertiary: rgb(249, 249, 249);
  --background-content: rgb(255, 255, 255);
  --background-modal: rgb(255, 255, 255);
  --background-modal-inverse: rgb(45, 45, 45);
  --background-over-alpha: rgb(29, 29, 29);
  --background-accent: rgb(0, 118, 248);
  --background-accent-themed: rgb(38, 136, 233);
  --background-accent-tint: rgb(90, 158, 255);
  --field-background: rgb(242, 244, 245);
  --background-positive: rgb(44, 188, 80);
  --background-negative: rgb(252, 62, 46);
  --background-negative-tint: rgb(255, 235, 235);
  --background-warning: rgb(255, 244, 229);
  --text-color: black;

  /* Light theme scrollbar styles */
  --scrollbar-bg: #f1f1f1;
  /* Light track background */
  --scrollbar-thumb: #a9a9a9;
  /* Light thumb color */
  --scrollbar-thumb-hover: #555;
  /* Thumb hover color */

  --bs-custom-btn-color: #fff !important;
  --bs-custom-btn-bg: #0d6efd !important;
  --bs-custom-btn-border-color: #0d6efd !important;
  --bs-custom-btn-hover-bg: #3375d8 !important;
  --bs-custom-btn-hover-border-color: #0a58ca;
  --bs-border-color: #ecebe5;

  .btn-primary {
    --bs-btn-color: var(--bs-custom-btn-color) !important;
    --bs-btn-bg: var(--bs-custom-btn-bg) !important;
    --bs-btn-border-color: var(--bs-custom-btn-border-color) !important;
    --bs-btn-hover-bg: var(--bs-custom-btn-hover-bg) !important;
    --bs-btn-hover-border-color: var(--bs-custom-btn-hover-border-color);
  }

  .mat-mdc-option {
    color: black;
  }

  --btn-primary-text: rgb(255, 255, 255);
  --btn-primary-text-background: rgb(0, 118, 248);

  --input-background: rgb(255, 255, 255);
  --input-border-active: rgb(0, 118, 248);
  --input-text: rgb(29, 29, 29);
  --input-bg-active: rgb(242, 244, 245);
  /* Slightly tinted */

  --ng-select-background: #ffffff;
  /* White background */
  --ng-select-text-color: #000000;
  /* Black text */
  --ng-select-border-color: var(--bs-border-color);
  /* Light gray border */
  --ng-select-hover-background: #f1f1f1;
  /* Off-white hover background */
  --ng-select-option-background: #fafafa;
  /* Default background for options */
  --ng-select-option-hover-background: #e0e0e0;
  /* Light gray option hover background */
  --ng-select-disabled-option-color: #b0b0b0;
  /* Disabled options in gray */
  --ng-select-placeholder-color: #888888;
  /* Placeholder text */

  --side-menu-active: rgb(0, 118, 248);

  --mat-standard-button-toggle-divider-color: #dcdcdc;
  --mat-standard-button-toggle-selected-state-text-color: black;

  --board-task-background-color: white;
  // --mat-table-background-color: white;
  --mat-table-row-item-label-text-color: #000000;

  --mat-table-row-item-outline-color: var(--ng-select-border-color);
  --mat-table-header-headline-color: var(--text-color);

  --mat-paginator-container-background-color: #f1f1f1;
  --mat-paginator-container-text-color: var(--text-color);
  --mat-sys-on-surface: var(--text-color);

  --mdc-dialog-container-color: #f8f8f8;

  --mdc-text-button-label-text-color: var(--background-accent);

  --mat-select-panel-background-color:#f1f1f1;
  --mat-option-selected-state-label-text-color: var(--text-color);
  --mat-option-selected-state-layer-color: #e0e0e0;
  --mat-standard-button-toggle-selected-state-background-color: #e0e0e0;
}
