<div class="navbar ">
  <div class="navbar-left">
    <h2 class="ms-3 logo-title">BOARD APP</h2>
  </div>
  <div class="ms-auto d-flex">
    <!-- <ng-select [(ngModel)]="selectedLanguage" [clearable]="false" [items]="languages" bindLabel="description"
      bindValue="code" (change)="onLanguageChange($event)" class="me-2 pt-1">
    </ng-select> -->
    <div class="form-check form-switch me-3">
      <mat-button-toggle-group (change)="changeTheme()" [(value)]="theme">
        <mat-button-toggle value="light"><i style="color: rgb(255, 196, 0);" class="bi bi-brightness-high-fill"></i></mat-button-toggle>
        <mat-button-toggle value="dark"><i class="bi bi-moon-stars-fill"></i></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</div>
