<h2 mat-dialog-title>{{ dialogTitle }}</h2>

<mat-dialog-content>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <div class="form-row row pt-2">
        <!--Story type-->
        <mat-form-field appearance="outline" class="pe-2 col">
          <mat-label class="form-label">Type</mat-label>
          <mat-select formControlName="taskType">
            <mat-option *ngFor="let taskType of taskTypes" [value]="taskType">
            <app-task-type-icon [taskType]="taskType"></app-task-type-icon>
            {{  getTaskTypeLabel(taskType) }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width col-10">
          <input class="w-100" matInput formControlName="title" placeholder="Название">
          <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
            Название обязательно
          </mat-error>
          <mat-error *ngIf="taskForm.get('title')?.hasError('minlength')">
            Минимум 3 символа
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline"  class="pe-2">
          <mat-label class="form-label">Исполнитель</mat-label>
          <input matInput formControlName="assignee" placeholder="Введите имя исполнителя">
        </mat-form-field>

        <mat-form-field appearance="outline" class="pe-2">
          <mat-label class="form-label">Приоритет *</mat-label>
          <mat-select formControlName="priority">
            <mat-option *ngFor="let priority of taskPriorities" [value]="priority">
              {{ getPriorityLabel(priority) }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="pe-2">
          <mat-label class="form-label">Срок выполнения</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dueDate" placeholder="Выберите дату">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <label class="form-label">Описание</label>
      <mat-form-field appearance="outline" class="full-width w-100">
        <textarea matInput formControlName="description" placeholder="Введите описание задачи" rows="10"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width w-100">
        <mat-label class="form-label">Теги</mat-label>
        <input matInput formControlName="tags" placeholder="Введите теги через запятую">
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">
    Отмена
  </button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="taskForm.invalid">
    {{ submitButtonText }}
  </button>
</mat-dialog-actions>
